<style type="text/css">

.news-detail {
height: 130px;
}

.col-md-9 .owl-wrapper-outer .owl-item {
float: left;
width: 155px !important;
}
.owl-carousel {
margin-left: 1px !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
content: url("https://bit.ly/34JTRAc") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
content: url("https://bit.ly/2Jp6Hwr") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
content: url("https://bit.ly/3nXAjjA") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
content: url("https://bit.ly/3mTY4Yq") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
content: url("https://bit.ly/3rwGtsS") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
content: url("https://bit.ly/2KE47TP") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
content: url("https://bit.ly/3aKAAm7") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
content: url("https://bit.ly/3aYPLZ9") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
content: url("https://bit.ly/3mVlooB") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
content: url("https://bit.ly/3rvE8P5") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
content: url("https://bit.ly/34OCs9t") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
content: url("sssss") !important;
}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
content: url("sssss") !important;
}

border: 1px solid transparent !important;
padding: 2px !important;
}

</style>
